{% extends "base.html" %}

{% block title %}
  
{% endblock %}

{% block content %}
{% if cart %}

<h2 id='basket_title'>В кошику</h2>

  <div class='row col-xs-8 col-xs-offset-2'>
 <table class="table">

  <thead>
   <tr>
    <th>Назва</th>
    <th>Кількість</th>
    <th>Ціна</th>
    <th>Повна ціна</th>
   </tr>
  </thead>

  <tbody>
  {% for item in cart %}
        {% with flower=item.flower %}
  <tr>
   <td>{{ flower.title }}</td>
   <td>
      <form action="{% url "CartAdd_basket" flower.id %}" method="post" class="add">
        {{ item.update_quantity_form.quantity }}
        {{ item.update_quantity_form.update }}
        {% csrf_token %}
    <input type="submit" value="Обновити">
      </form>
   </td>
   <td>{{ item.price }} грн</td>
   <th>{{ item.total_price }}грн</th>
   <td>
   <a href="{% url "CartRemove" flower.id %}">Видалити
  </td>
   </tr>
  {% endwith %}
      {% endfor %}
      <td class="num">Загальна сума {{ cart.get_total_price }} грн.</td>
  </tbody>
 </table>
 </div>
 </div>


 
<div id='basket_button' class='row col-xs-8 col-xs-offset-2'>
 <a href='{% url 'main' %}' class="btn btn-primary">повернутись</a>
 <a href="{% url "OrderCreate" %}" class="btn btn-primary">замовити</a>
</div>


{% else %}
 <div class="alert alert-warning">
 Ви не вибрали жодного товару
 </div>

 {% endif %}
{% endblock content %}