{% load static from staticfiles %}

<!DOCTYPE html>
<html lang='uk'>
  <head>
  	<meta charset='UTF-8'/>
    <title>Квітка</title>
  	<meta name='description'
      value='Про квіти' />
      <!-- Include Styles -->
      <link rel='stylesheet' href='https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css'>
      <link rel="stylesheet" href='{% static "css/main.css" %}'>
  </head>
  <body class="body">


<!-- start page -->
<div class="celing">
  <div class="row">


   <div class="col-xs-3" id="lang-selector">
    українська
    <select>
      <option value="">Змінити мову</option>
      <option value="uk">українська</option>
      <option value="en">english</option>  
    </select> 
   </div>

   <div class='col-xs-3 registration'>
     <a href=''>Ввійти</a>
       |
     <a href=''>Зареєструватися</a>
   </div>

    <div class='col-xs-3 form-search'>
     <form action="" method="post">
      <input type="text" name="search" class="input-medium search-query">
      <button type="submit" class="btn">Знайти</button>
      <span class="help-block"></span>
     </form>
    </div>

  </div>
</div>
<!-->

  	<!-- Logo -->
  	<div class="row">
    <div class='col-xs-6 col-xs-offset-3'>
      <h1 id='title'>Купівля насіння та саджанців квітів</h1>



    </div>
    </div>

    <!-- Start SubHeader -->
    <div class='row sub-header'>

      <div class='col-xs-11'>
       <ul class='nav nav-pills main_menu' role='tablist'>
        <li role='presentation'><a href=''>Головна</a></li>
        <li role='presentation'><a href=''>Головна</a></li>
        <li role='presentation'><a href=''>Головна</a></li>
        <li role='presentation'><a href=''>Головна</a></li>            
       </ul>
      </div>

      <div class="col-xs-1 cart_indicator">
        <img src="images/cart.png" alt=""/> 1
      </div>

   </div>
    <!-- End SubHeader -->

     <div class='row col-xs-10 col-xs-offset-1 content'>

        <div class="col-xs-3 lot">
            <div class="thumbnail">
            <img src="images/ger.jpeg" alt=""/>
            <div class="title_lot"><h4>gerbera</h4></div>
            <div class="caption">
            <div id='price_buy'>ціна 45 грн</div>
            <div>
            <a href='' class="btn btn-primary to_basket">в кошик</a>
            </div>
            <div id='reade_more'><a href="">Читати більше...</a></div>
            </div>
            </div>
        </div>





    </div>

  </div>



  	<!-- Start Footer -->
    <div class="row">
      <footer>&copy; 2017 Oleh Smolynets</footer>
      </div>



  </body>


  	<!-- Javascripts Section -->
  	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  	<script src='https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js'></script>
    <script src=""></script>
  </body>
</html>
